#homepage {
  // background-image: url("/Front-images/back-down.jpg") !important;
  background-size: 100% 100%;
  @media screen and (max-width: 768px) {
      background-image: url("/Front-images/back-down.jpg") !important;
    }
  .column-1{
    @media screen and (max-width: 992px) {
      padding-left: 40px;
    }
    @media screen and (max-width: 768px) {
      padding-left: 20px;
    }
    @media screen and (max-width: 480px) {
      padding-left: 20px;
    }
  }  
  .logo{
    @media screen and (max-width: 768px) {
      height:52px !important;
      width:300px !important;
    }
    @media screen and (max-width: 480px) {
      height:48px !important;
      width:270px !important;
    }
  }
  .head1 {
    font-family: "Open Sans";
    font-size: 75px;
    font-weight: 300;
    color: #5882fb;
    @media screen and (max-width: 992px) {
      font-size: 52px !important;
    }
    @media screen and (max-width: 768px) {
      font-size: 60px !important;
    }
    @media screen and (max-width: 480px) {
      font-size: 40px!important;
      text-align: center;
    }
  }
  .head2 {
    font-family: "Open Sans";
    font-size: 55px;
    font-weight: 800;
    padding-top: 10px;
    color: #ffffff;
    @media screen and (max-width: 992px) {
      font-size: 38px !important ;
    }
    @media screen and (max-width: 768px) {
      font-size: 40px !important ;
    }
    @media screen and (max-width: 480px) {
      font-size: 35px !important;
      text-align: center;
    }
  }
  h1 {
    margin: 0;
    line-height: 1.2em;
  }

  .row.bottomSpace {
  @media screen and (max-width: 992px) {
    padding-left: 25px;
  }
  @media screen and (max-width: 768px) {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align:left;
  }
  @media screen and (max-width: 480px) {
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align:left;
  }    
}  
.bottomSpace div {
  @media screen and (max-width: 768px) {
    display: inline-block;
    width: 45px;
    float: left;
    padding-top: 12px;
  }
  @media screen and (max-width: 480px) {
    display: inline-block;
    width: 45px;
    float: left;
    padding-top: 12px;
  }  
}
.foot {
  @media screen and (max-width: 768px) {
    display: inline-block;
    width: calc(100% - 45px) !important;
    float: right;
    padding-top: 0;
  }
  @media screen and (max-width: 480px) {
    display: inline-block;
    width: calc(100% - 45px) !important;
    float: right;
    padding-top: 0;
  }  
}
.foot p {
  @media screen and (max-width: 768px) {
    margin: 0px;
    display: inline;
  }
  @media screen and (max-width: 480px) {
    margin: 0px;
    display: inline;
  }  
}
.bottomSpace div img {
  @media screen and (max-width: 480px) {  
    width: 40px;
  }  
}
  .top-row{
    @media screen and (max-width: 992px) {
    
      transform: translate(0px, 30px) !important;
    }
 
    @media screen and (max-width: 768px) {  
      transform: translate(-25px, 0px) !important;
    }  
  }

  img.laptop__img {
    max-width: 98%;
    transform: scale(1.4) translateX(38px)  ;
    @media screen and (max-width: 768px) {
      transform: scale(1);
    }
  }

  .button{
    @media screen and (max-width: 992px) {
      font-size:16px !important;
      padding-left: 30px !important;
      padding-right: 30px !important;
    }  
    @media screen and (max-width: 480px) {
    font-size: 14px !important;
    margin-top: 25px;
    margin-left: 0;
    }
  }

  .span-color{
    color:#04dab9;
    font-weight:800;
    animation-name: main-section-back;
     animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
  }

    @keyframes main-section-back {
    0% {
      opacity:1;
    }
    20% {
      opacity:0.9;
    }
    40% {
      opacity:0.8;
    }
    60% {
      opacity:0.7;
    }
    80% {
      opacity:0.6;
    }
    100% {
      opacity:0.5;
    }
  }

  .foot {
    p {
      margin: 0px;
      color: white;
    }
  }
}

/*media query for 1200 - 992 */

  @media screen and (max-width:1200px) and (min-width:992px){
    h1.head1{
      font-size:65px !important;
    }

    div.top-row{
      transform: translate(0px, 20px)!important;  
    }

    img.laptop__img {
      max-width: 98%;
      transform: scale(1.4) translateX(-35px) !important;
    }

    h1.head2{
      font-size:50px !important;
    }

    div.col.column-1 {
    padding-left: 20px;
    }

    div.bottomSpace{
      padding-left: 20px;
    }
}

/*media query for 991 - 768 */

  @media screen and (max-width:992px){
    img.laptop_img{
      transform:translateX(-35px);
    }
}

/*media query for 767 - 481 */

  @media screen and (max-width:768px){
    h1.head1{
      font-size:65px;
      text-align:center;
    }

    h1.head2{
      font-size:45px;
      text-align:center;
    }
    .row.row-2{
      text-align: center;
    }
    .centerit{
      text-align: center;
    }
}

.laptop__img{
  margin-left: 15%;
  @media screen and (max-width:767px){
    margin-left: 0;
  }

}
#homepage .head1{
  font-size: 80px ;
}
#homepage .head2{
  font-size: 60px ;
}