div.parallax {
  /* The image used */
  background: url(/Front-images/do-page.jpg) no-repeat;
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto; }

div.parallax__layer--base {
  transform: translateZ(0); }

#what-we-do {
  display: contents; }
  #what-we-do .heading-1 {
    height: 100px;
    font-size: 80px;
    font-family: "Open Sans";
    font-weight: 800;
    color: #ffffff;
    margin: 0;
    background-image: url("/Front-images/little-brand-color.png");
    background-repeat: no-repeat;
    background-size: 70px 10px;
    background-position-y: 75px;
    background-position-x: 385px; }
    @media screen and (max-width: 768px) and (min-width : 481px){
      #what-we-do .heading-1 {
          font-size: 70px;
          background-image: url(/Front-images/little-brand-color.png);
          background-repeat: no-repeat;
          background-size: 60px 10px;
          background-position-y: bottom;
          background-position-x: 475px;
      } 
    }
    @media screen and (max-width: 480px) {
      #what-we-do .heading-1 {
        font-size: 26px;
        text-align: center; 
      } 
    }
      #what-we-do html, #what-we-do body {
        height: 100%; }
      #what-we-do html {
        display: table;
        margin: auto; }
      #what-we-do body {
        display: table-cell;
        vertical-align: middle; }
      #what-we-do .heading-2 {
        font-family: "Open Sans";
        font-weight: 600;
        font-size: 32px;
        color: #ffffff;
        margin: 15px 0; }
    @media screen and (max-width: 768px) {
      #what-we-do .heading-2 {
        font-size: 26px;
        padding-top: 0px; 
      }
    }
    @media screen and (max-width: 480px) {
      #what-we-do .heading-2 {
        font-size: 18px;
        text-align: center; 
      } 
    }
  #what-we-do .img-style {
    width: 100%;
    max-width: 100%;
    z-index: 0;
    top: 0;
    margin-top: -34px;
    position: relative;
    animation: clockwiseSpin 5s infinite alternate;
  }
  @-webkit-keyframes clockwiseSpin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); 
   } 
  }
  @keyframes clockwiseSpin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); 
   } 
  }
  #what-we-do .services {
    position: absolute;
    margin-left: 110px; 
  }
    @media screen and (max-width: 768px) {
      #what-we-do .services {
        position: static; 
      } 
    }
    #what-we-do .services .service {
      background-color: white;
      margin: 10px 0px;
      padding: 10px 30px;
      border-radius: 50px;
      border: 2px solid transparent; 
    }
      #what-we-do .services .service:hover {
        border: 2px solid #24ddc0;
        box-shadow: 0 0 5px #24ddc0; 
      }
      #what-we-do .services .service .service__image {
        display: inline-block; 
      }
      #what-we-do .services .service .service__image img {
          width: 48px;
          max-width: 100%; 
      }
      @media screen and (max-width: 480px) {
        #what-we-do .services .service .service__image {
            width: 30px; 
          } 
        }
        #what-we-do .services .service .service__title {
          font-family: "Open Sans";
          display: inline-block;
          font-weight: 600;
          font-size: 26px;
          padding-left: 15px;
          transform: translateY(5px);
          color: #3c69ee; }
          @media screen and (max-width: 480px) {
            #what-we-do .services .service .service__title {
              font-size: 13px; 
            }  
          }
        @media screen and (max-width: 1200px) and (min-width: 768px) {
        .leftSpace {
          padding-left: 15px !important; }

        .heading-1 {
          font-size: 80px !important;
          background-position-x: 396px !important; }

        .heading-2 {
          font-size: 30px !important; }

        .rightSpace {
          display: block !important;
          align-items: center !important;
          position: relative !important; }

        .img-style {
          width: 72% !important;
          top: 12% !important;
          position: absolute !important; }

        .services {
          position: absolute !important;
          left: 10% !important;
          top: 23% !important;
          width: 50% !important;
          max-width: 100% !important; }

        .services .service {
          margin-bottom: 10px !important;
          padding: 4px 15px !important; }

        .services .service .service__title {
          font-size: 20px !important;
          padding-left: 15px !important;
          transform: translateY(5px) !important;
          color: #3c69ee; }

        .staffImg {
          width: 36px !important; }

        .staffAlign {
          font-size: 16px !important; } }
      @media screen and (max-width: 767px) and (min-width: 481px) {
        div.main-section-1-4-3 {
          text-align: center; }

        #what-we-do .img-style {
          width: 100%;
          max-width: 100%;
          z-index: 0;
          top: 0;
          margin-top: -34px;
          position: relative;
          /* animation: clockwiseSpin 5s infinite alternate; */
          display: none;
        }

        .centerit {
          text-align: center; } }

/*# sourceMappingURL=style.css.map */
