div.parallax {
	/* The image used */
	// background: url(/Front-images/do-page.jpg) no-repeat;

	/* Full height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	overflow-x: hidden;
	overflow-y: auto;
}
div.child{
	animation: background;
	animation-name: background;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 10s;
	animation-duration: 10s;
	animation-delay: 0.05s;
	-webkit-animation-direction: alternate;
	animation-direction: alternate;
	background-size: 100% 100% !important;
	//background-image: url("/Front-images/back-down.jpg");
	opacity: 1;
	@media screen and (max-width: 768px) {
		animation:none;
		background-image:url(/Front-images/back-down.jpg);
	}
}

@-webkit-keyframes background {
	0% { background-image: url("/Front-images/back-down.jpg"); opacity:1;}
	25% { background-image: url("/Front-images/do-page.jpg"); opacity:1;}
	50% {  background-image: url("/Front-images/page-3-oscar.jpg"); opacity:1;}
	60% {  background-image: url("/Front-images/page-3-oscar.jpg"); opacity:1;}
	80%{ background-image: url("/Front-images/do-page.jpg"); opacity:1; }
	100% { background-image: url("/Front-images/back-down.jpg"); opacity:1;}
}

@keyframes background {
	0% { background-image: url("/Front-images/back-down.jpg"); opacity:1;}
	25% { background-image: url("/Front-images/do-page.jpg"); opacity:1;}
	50% {  background-image: url("/Front-images/page-3-oscar.jpg"); opacity:1;}
	60% {  background-image: url("/Front-images/page-3-oscar.jpg"); opacity:1;}
	80%{ background-image: url("/Front-images/do-page.jpg"); opacity:1; }
	100% { background-image: url("/Front-images/back-down.jpg"); opacity:1;}
}

div.parallax__layer--base {
	transform: translateZ(0);
}


#what-we-do {
	display:contents;
		// .header {
		//   font-size: 30px;
		//   color: #FFFFFF;
		//   border: 1px dashed orange;
		//   position: fixed;
		//   height: 150px;
		//   width: 100%;
		//   text-align: center;
		// }

		// .sticky {
		//   font-size: 15px;
		//   color: #000000;
		//   border: 1px solid black;
		//   position: fixed;
		//   height: 50px;
		//   width: 100%;
		//   transition: all 0.4s ease;
		// }

	.heading-1 {
		height: 100px;
		font-size: 80px;
		font-family: "Open Sans";
		font-weight: 800;
		color: #ffffff;
		margin: 0;
		background-image: url("/Front-images/little-brand-color.png");
		background-repeat: no-repeat;
		background-size: 70px 10px;
		background-position-y: bottom;
		background-position-x: 385px;
		@media screen and (max-width: 1200px) {
			font-size:62px;
			background: none;
			height:55px;
		}
		@media screen and (max-width: 992px) {
			font-size:56px;
		}
		@media screen and (max-width: 768px) {
			height:100px;
		}
	}

		.logo{
		@media screen and (max-width: 768px) {
			height:52px !important;
			width:300px !important;
		}
		@media screen and (max-width: 480px) {
			height:48px !important;
			width:270px !important;
		}
	}

	.centeralign{
		@media screen and (max-width: 480px) {
			text-align: center;
		}
	}

	.row.page2-row {
		@media screen and (max-width: 1200px) {
			transform: translate(-20px, 30px)!important;
		}
		@media screen and (max-width: 992px) {
			transform: translate(-20px, 30px)!important;
		}
	}
	.col-2.header.sticky {
		@media screen and (max-width: 992px) {
			padding-left: 15px;
			margin-top: -10px;
		}
		@media screen and (max-width: 768px) {
			margin-top: -20px;
			margin-left: -25px;
		}
	}
	html, body {
			height: 100%;
	}

	html {
			display: table;
			margin: auto;
	}

	body {
			display: table-cell;
			vertical-align: middle;
	}
	.button{
		@media screen and (max-width: 992px) {
			font-size: 16px !important;
			margin-top: 25px;
			margin-left: 0;
		}
		@media screen and (max-width: 768px) {
			font-size: 14px !important;
			margin-top: 25px;
			margin-left: 0;
		}
		@media screen and (max-width: 480px) {
			border-radius: 40px;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 30px;
			padding-right: 30px;
			text-align: center;
			text-decoration: none;
			display: inline-block;
			margin-left: 0;
			margin-top: 20px;
		}
	}
	.heading-2 {
		font-family: "Open Sans";
		font-weight: 600;
		font-size: 32px;
		color: #ffffff;
		padding-top: 15px;
		@media screen and (max-width: 1200px){
			font-size: 32px ;
		}
		@media screen and (max-width: 992px){
			font-size: 21px ;
			padding-top: 0;
			margin-top: 25px;
		}
		@media screen and (max-width: 768px){
			 font-size: 26px;
			 padding-top: 0px;
			 margin-top: 0;
		}
		@media screen and (max-width: 480px) {
			font-size: 24px;
			margin-top:-20px;
			text-align: center;
		}
	}
	.page2-row{
		@media screen and (max-width:768px){
			transform:translate(-40px,15px) !important ;
	}
		@media screen and (max-width:480px){
			transform:translate(-40px,10px) !important;
	}
}
	.img-style{
		width: 100%;
		max-width: 100%;
		z-index: 0;
		top: 0;
		margin-top: -34px;
		position: relative;
		animation: clockwiseSpin 5s infinite alternate;
		@media screen and (max-width:1200px){
				margin-left: 130px;
		}
		@media screen and (max-width:992px){
				margin-left: 60px;
		}
	}

@-webkit-keyframes clockwiseSpin {
	0%  {-webkit-transform: rotate(0deg);
			transform: rotate(0deg);}
	100%{-webkit-transform: rotate(45deg);
			transform: rotate(45deg);}

}
@keyframes clockwiseSpin {
	0%  {-webkit-transform: rotate(0deg);
			transform: rotate(0deg);}
	100%{-webkit-transform: rotate(45deg);
			transform: rotate(45deg);}
}

	.services {
		position: relative;
		margin-left: -480px;
		@media screen and (max-width: 1200px) {
			margin-left: 130px;
			top: 20%;
		}
		@media screen and (max-width: 992px) {
			margin-left: 60px;
			top: 30%;
			left:14%;
		}
		@media screen and (max-width: 768px) {
			position: static;
			margin-left: 0px;
			display: block;
			margin-top: 25px;
			left: 0;
			top: 0;
			width: auto;
		}
		@media screen and (max-width: 480px) {
			position: static;
			margin-left: 0px;
			display: block;
			margin-top: 25px;
			left: 0;
			top: 0;
			width: auto;
		}
		.service {
			background-color: white;
			margin: 10px 0px;
			padding: 10px 30px;
			border-radius: 50px;
			border: 2px solid transparent;
			&:hover {
				border: 2px solid #24ddc0;
				box-shadow: 0 0 5px #24ddc0;
			}
			.service__image {
				display: inline-block;
				img {
					width: 48px;
					max-width: 100%;
				}
				@media screen and (max-width: 992px) {
					width: 28px;
					max-width: 100%;
				}
				@media screen and (max-width: 480px) {
					width: 24px;
				}
			}
			@media screen and (max-width: 992px) {
				background-color: white;
				margin: 10px 0px;
				padding: 10px 30px;
				border-radius: 50px;
				border: 2px solid transparent;
			}
			@media screen and (max-width: 768px) {
					display: inline-block;
					margin: 5px;
				}
			.service__title {
				font-family: "Open Sans";
				display: inline-block;
				font-weight: 600;
				font-size: 26px;
				padding-left: 15px;
				transform: translateY(5px);
				color: #3c69ee;
				@media screen and (max-width: 992px) {
					font-size: 20px;
					transform: translateY(5px);
					padding-left: 15px;
				}
				@media screen and (max-width: 480px) {
					font-size: 15px;
					transform: translateY(5px);
				}
			}
		}
	}
}
@media screen and (max-width:1200px){
	.leftSpace{
		padding-left: 15px;

	}

	.heading-1 {
		background-position-x: 396px !important;
	}

	.heading-2 {

		font-size: 30px;
	}

	.rightSpace{
		display: block !important;
		align-items: center !important;
		position: relative !important;
		max-width: 588px;
		min-width: 588px;
	}

	.img-style {
		width: 72% !important;
		top: 12% !important;
		position: absolute !important;
	}

	.services {
		position: absolute;
		left: 10% ;
		top: 23% ;
		width: 50% ;
		max-width: 100% !important;
	}

	.services .service {
		margin-bottom: 10px !important;
		padding: 4px 15px !important;
	}

	.services .service .service__title {
		font-size: 20px ;
		padding-left: 15px ;
		transform: translateY(5px) ;
		color: #3c69ee;
	}

	.staffImg{
		width:36px !important;
	}

	.staffAlign{
		font-size:16px !important;
	}

}
@media screen and (max-width:992px){
	.rightSpace{
		display: block !important;
		align-items: center !important;
		position: relative !important;
		max-width: 408px;
		min-width: 408px;
	}
	.services {
		position: absolute;
		left: 10% ;
		top: 23% ;
		width: 50% ;
		max-width: 100% !important;
	}

	.services .service {
		margin-bottom: 10px !important;
		padding: 4px 15px !important;
	}

	.img-style {
		width: 78% !important;
		top: 27% !important;
		position: absolute !important;
	}

	.services .service .service__title {
		font-size: 20px ;
		padding-left: 15px ;
		transform: translateY(5px) ;
		color: #3c69ee;
	}
	.staffAlign {
		font-size: 15px !important;
		padding-left: 0 !important;
	}
}
@media screen and (max-width:768px){
	.rightSpace{
		display: block !important;
		align-items: center !important;
		position: relative !important;
		max-width: 100%;
		min-width: 408px;
	}
	a.anchor {
		padding: 0!important;
	}
	div.main-section-1-4-3 {
		text-align: center;
		}
		.centerit{
			text-align: center;
		}
		.img-style {
		width: 100%;
		max-width: 100%;
		z-index: 0;
		top: 0;
		margin-top: -34px;
		position: relative;
		/* animation: clockwiseSpin 5s infinite alternate; */
		display: none;
	 }
	 .service.part1 {
		padding: 5px 58px !important;
	 }
	 .service.part2 {
		padding: 5px 45px !important;
	 }
	 .service.part3 {
		padding: 5px 25px !important;
	 }
	 .service.part4 {
		padding: 5px 49px !important;
	 }
	 #what-we-do .heading-1 {
		font-size: 65px;
		background-image: hidden;
		background-repeat: no-repeat;
		background-size: 60px 10px;
		background-position-y: 75px;
		background-position-x: 475px;
		background:none;
	 }
	 #what-we-do .services .service .service__image img {
		width: 39px;
		max-width: 100%;
	}
	#what-we-do .services .service .service__title {
		font-family: "Open Sans";
		display: inline-block;
		font-weight: 600;
		font-size: 16px;
		padding-left: 15px;
		transform: translateY(5px);
		color: #3c69ee;
	}
}

@media screen and (max-width:480px){
	div.leftSpace{
		height:auto !important;
	}
	div.rightSpace{
		margin-top: -5px;
		min-width: 240px;
		margin-left: -5px;
	}
	a.anchor {
		padding: 0!important;
	}
	div.main-section-1-4-3 {
		text-align: left;
	}
	.centerit{
		text-align: left;
	}
	.services{
		width:100%;
		left: 3%;
		top: 23%;
		position: relative;
	}
	.img-style {
		width: 100%;
		max-width: 100%;
		z-index: 0;
		top: 0;
		margin-top: -34px;
		position: relative;
		/* animation: clockwiseSpin 5s infinite alternate; */
		display: none;
	 }
	 .service.part1 {
		padding: 5px 58px !important;
	 }
	 .service.part2 {
		padding: 5px 45px !important;
	 }
	 .service.part3 {
		padding: 5px 24px !important;
	 }
	 .service.part4 {
		padding: 5px 49px !important;
	 }
	 #what-we-do .heading-1 {
		font-size: 40px;
		background-image: hidden;
		background-repeat: no-repeat;
		background-size: 60px 10px;
		background-position-y: 75px;
		background-position-x: 475px;
	 }
	 #what-we-do .services .service .service__image img {
		width: 39px;
		max-width: 100%;
	}
	#what-we-do .services .service .service__title {
		font-family: "Open Sans";
		display: inline-block;
		font-weight: 600;
		font-size: 16px;
		padding-left: 15px;
		transform: translateY(5px);
		color: #3c69ee;
	}
}