div.parallax1 {
  /* The image used */
  background: url(/Front-images/page-3-oscar-c.jpg) no-repeat;
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto; }

div.parallax__layer--base1 {
  transform: translateZ(0); }

.how-we-work {
  background-size: 100% 100%;
  background-position: fixed;
  display: contents;
  position: relative;
  display: block; }
  @media screen and (max-width: 768px) {
    .how-we-work {
      display: block; } }
  .how-we-work .heading-1 {
    font-size: 80px;
    font-family: "Open Sans";
    font-weight: 800;
    color: #ffffff;
    margin: 0;
    background-image: url("/Front-images/little-brand-color.png");
    background-repeat: no-repeat;
    background-size: 70px 10px;
    background-position-y: bottom;
    background-position-x: 493px;
    height: 100px; }
    @media screen and (max-width: 768px) {
      .how-we-work .heading-1 {
        font-size: 50px; } }
  .how-we-work .heading-3 {
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
    margin: 15px 0px; }
    @media screen and (max-width: 768px) {
      .how-we-work .heading-3 {
        font-size: 26px; } }
  .how-we-work .oscar-content {
    position: absolute;
    right: 129px;
    width: 37%;
    top: 79px; }
  .how-we-work .oscarimages {
    position: relative;
    padding-left: 70px;
    width: 100%; }
    .how-we-work .oscarimages .oscarimage1 {
      margin-top: -20px;
      padding-left: 85px; }
      .how-we-work .oscarimages .oscarimage1 .image1 {
        width: 200px;
        max-width: 100%; }
      .how-we-work .oscarimages .oscarimage1 .hidden-img {
        display: none;
        position: absolute;
        right: 0;
        width: 210px;
        top: 0;
        transform: translate(-30px, -85px); }
        .how-we-work .oscarimages .oscarimage1 .hidden-img img {
          max-width: 100%; }
      .how-we-work .oscarimages .oscarimage1:hover .hidden-img {
        display: block; }
    .how-we-work .oscarimages .oscarimage2 {
      margin-top: 20px;
      padding-left: 40px; }
      .how-we-work .oscarimages .oscarimage2 .image2 {
        width: 200px;
        max-width: 100%; }
    .how-we-work .oscarimages .oscarimage3 {
      margin-top: 30px;
      padding-left: 30px; }
      .how-we-work .oscarimages .oscarimage3 .image3 {
        width: 150px !important;
        max-width: 100%; }
    .how-we-work .oscarimages .oscarimage4 {
      margin-top: 30px;
      padding-left: 40px; }
      .how-we-work .oscarimages .oscarimage4 .image4 {
        width: 175px !important;
        max-width: 100%; }
    .how-we-work .oscarimages .oscarimage5 {
      margin-top: 20px;
      padding-left: 85px; }
      .how-we-work .oscarimages .oscarimage5 .image5 {
        width: 200px;
        max-width: 100%; }
  @media screen and (max-width: 1200px) and (min-width: 992) {
    .how-we-work div.leftSpace {
      padding-left: 20px; }
    .how-we-work .how-we-work .heading-1 {
      font-size: 68px !important; }
    .how-we-work div.how-we-work .oscarimages .oscarimage1 .image1 {
      width: 180px;
      max-width: 100%; }
    .how-we-work div.how-we-work .oscarimages .oscarimage2 .image2 {
      width: 160px;
      max-width: 100%; }
    .how-we-work div.how-we-work .oscarimages .oscarimage3 .image3 {
      width: 130px !important;
      max-width: 100%; }
    .how-we-work div.how-we-work .oscarimages .oscarimage4 .image4 {
      width: 155px !important;
      max-width: 100%; }
    .how-we-work div.how-we-work .oscarimages .oscarimage5 .image5 {
      width: 180px;
      max-width: 100%; } }

/*# sourceMappingURL=style.css.map */
