div.parallax {
	/* The image used */

	/* Full height */
	height: 100%;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	overflow-x: hidden;
	overflow-y: auto;
	@media screen and (max-width: 768px) {
		display: block;
		background: url(/Front-images/page-3-oscar-c.jpg) no-repeat;
	}
}

div.parallax__layer--base1 {
	transform: translateZ(0);
}

.how-we-work {
	background-size: 100% 100%;
	background-position: fixed;
	display: contents;
	position: relative;
	display: block;

	@media screen and (max-width: 768px) {
		display: block;
	}

	@media screen and (max-width: 480px) {
		display: block;
	}

	.topSpace{
		@media screen and (max-width:768px){
			margin-top: -20px;
			margin-left: -20px;
		}
	}

	.button{
		@media screen and (max-width: 768px) {
			margin-top:20px !important;
		}
		@media screen and (max-width: 480px) {
			font-size: 14px;
			margin-top: 15px!important;
			margin-left: 0px;
		}
	}

	.logo{
		@media screen and (max-width: 768px) {
			height:52px !important;
			width:300px !important;
		}
		@media screen and (max-width: 480px) {
			height:48px !important;
			width:270px !important;
		}
	}

	.spacing {
		@media screen and (max-width: 768px) {
			width: 100%;
		}
	}

	.heading-1 {
		font-size: 80px;
		font-family: "Open Sans";
		font-weight: 800;
		color: #ffffff;
		margin: 0;
		background-image: url("/Front-images/little-brand-color.png");
		background-repeat: no-repeat;
		background-size: 70px 10px;
		background-position-y: bottom;
		background-position-x: 493px;
		height: 100px;
		@media screen and (max-width: 1200px) {
			font-size: 65px;
			background: none;
			height:50px;
		}
		@media screen and (max-width: 992px) {
			font-size: 50px;
			background: none;
			height:50px;
		}
		@media screen and (max-width: 768px) {
			font-size: 50px;
			background: none;
			height:50px;
		}
		@media screen and (max-width: 480px) {
			font-size: 38px;
			height: 60px;
		}
	}

	.heading-3 {
		font-family: "Open Sans";
		font-weight: 600;
		font-size: 32px;
		line-height: 40px;
		color: #ffffff;
		margin: 15px 0px;
		@media screen and (max-width: 1200px) {
			font-size: 28px;
		}
		@media screen and (max-width: 992px) {
			font-size: 23px;
		}
		@media screen and (max-width: 768px) {
			font-size: 26px;
		}
		@media screen and (max-width: 480px) {
			font-size: 20px;
			margin:0;
		}
	}

	.page3-row{
		@media screen and (max-width: 768px) {
				transform: translate(-25px, 5px)!important;
		 }
		@media screen and (max-width: 480px) {
				transform: translate(-35px, 2px)!important;
		 }
	}

	.col{
		@media screen and (max-width: 768px) {
			background-image: none !important;
		}
		@media screen and (max-width: 480px) {
			background-image: none !important;
			padding-left: 10px;
		}
	}

	.row.page3-row {
		@media screen and (max-width: 1200px) {
			transform: translate(-5px, 25px) !important;
		}
		@media screen and (max-width: 992px) {
			transform: translate(-5px, 25px) !important;
		}
	}

	.button {
		transform: translateX(85px);
		padding-left: 30px;
		padding-right: 30px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
		background-size: cover;
		box-sizing: border-box;
		border: 2px solid #3b69ee;
		transform: translateX(0px);
		margin-bottom: 20px;
		@media screen and (max-width: 1200px) {
			margin-top:20px !important;
		}
		@media screen and (max-width: 992px) {
			margin-top:20px !important;
		}
	}

	.oscar-content {
		position: absolute;
		right: 129px;
		width: 37%;
		top: 79px;
	}

	.oscarimages {
		position: relative;
		padding-left: 70px;
		width: 100%;
		@media screen and (max-width: 768px) {
			background-image: none!important;
			padding-left: 0;
			padding-top: 0px;
		}
		@media screen and (max-width: 480px) {
			background-image: none;
			padding-left: 0px;
			padding-top: 5px;
		}
		.oscarimage1 {
			margin-top: -20px;
			padding-left: 85px;
		@media screen and (max-width: 768px) {
			margin-top: 0px;
			padding-left: 0px;
		}
		@media screen and (max-width: 480px) {
			margin-top: 0px;
			padding-left: 0px;
		}
			.image1 {
				width: 200px;
				max-width: 100%;
				@media screen and (max-width: 768px) {
						width: 180px;
						max-width: 100%;
				}
				@media screen and (max-width: 480px) {
						width: 160px;
						max-width: 100%;
				}
			}
			.hidden-img {
				display: none;
				position: absolute;
				right: 0;
				width: 210px;
				top: 0;
				transform: translate(-30px, -85px);
				img {
					max-width: 100%;
				}
			}
			&:hover {
				// transform: scale(1.02);
				.hidden-img {
					display: block;
				}
			}
		}
		.oscarimage2 {
			margin-top: 20px;
			padding-left: 40px;
			@media screen and (max-width: 768px) {
			margin-top: 5px;
			padding-left: 0px;
			}
		 @media screen and (max-width: 480px) {

			padding-left: 0px;
			}
			.image2 {
				width: 200px;
				max-width: 100%;
				@media screen and (max-width: 768px) {
						width: 165px;
						max-width: 100%;
						margin-left: -15px;
				}
				@media screen and (max-width: 480px) {
						width: 145px;
						max-width: 100%;
						margin-left: -15px;
				}
			}
		}
		.oscarimage3 {
			margin-top: 30px;
			padding-left: 30px;
			@media screen and (max-width: 768px) {
			padding-left: 0px;
			margin-left: -40px;
			margin-top: 10px;
		}
		@media screen and (max-width: 480px) {
			padding-left: 0px;
			margin-left: -40px;
			margin-top: 10px;
		}
			.image3 {
				width: 150px !important;
				max-width: 100%;
				@media screen and (max-width: 768px) {
						width: 130px !important;
						max-width: 100%;
				}
				@media screen and (max-width: 480px) {
						width: 110px !important;
						max-width: 100%;
				}
			}
		}
		.oscarimage4 {
			margin-top: 30px;
			padding-left: 40px;
			@media screen and (max-width: 768px) {
			margin-top: 10px;
			margin-left: -25px;
			padding-left: 0px;
		}
		@media screen and (max-width: 480px) {
			margin-top: 10px;
			margin-left: -25px;
			padding-left: 0px;
		}
			.image4 {
				width: 175px !important;
				max-width: 100%;
				@media screen and (max-width: 768px) {
						width: 150px !important;
						max-width: 100%;
				}
				@media screen and (max-width: 480px) {
						width: 130px !important;
						max-width: 100%;
				}
			}
		}
		.oscarimage5 {
			margin-top: 20px;
			padding-left: 85px;
			@media screen and (max-width: 768px) {
				padding-left: 0px;
				margin-left: -5px;
				margin-top: 10px;
		}
		@media screen and (max-width: 480px){
				padding-left: 0px;
				margin-left: -5px;
				margin-top: 10px;
		}
			.image5 {
				width: 200px;
				max-width: 100%;
				@media screen and (max-width: 768px) {
					width: 170px;
					max-width: 100%;
				}
					@media screen and (max-width: 480px) {
					width: 150px;
					max-width: 100%;
				}
			}
		}
	}

@media screen and (max-width: 1200px) and (min-width:992) {
		div.leftSpace{
			padding-left: 20px;
		}

		div.how-we-work .oscarimages .oscarimage1 .image1 {
			width: 180px;
			max-width: 100%;
		}

		div.how-we-work .oscarimages .oscarimage2 .image2 {
			width: 160px;
			max-width: 100%;
		}

		div.how-we-work .oscarimages .oscarimage3 .image3 {
			width: 130px ;
			max-width: 100%;
		}

		div.how-we-work .oscarimages .oscarimage4 .image4 {
			width: 155px ;
			max-width: 100%;
		}

		div.how-we-work .oscarimages .oscarimage5 .image5 {
			width: 180px;
			max-width: 100%;
		}
	}
}
