.aboutus {
  background-image: url(/Front-images/About-us.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @media screen and (max-width: 768px) {
     background-image:url(/Fronnt-images/contact.jpg);
  }
    .logo{
    @media screen and (max-width: 768px) {
      height:52px !important;
      width:300px !important;
    }
    @media screen and (max-width: 480px) {
      height:48px !important;
      width:270px !important;
    }
  }
  .row.atarmentum {
    @media screen and (max-width: 1200px) {
      padding-left: 30px;
      padding-right: 30px;
    }
    @media screen and (max-width: 768px) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .heading-1 {
    font-size: 80px;
    font-family: "Open Sans";
    font-weight: 800;
    margin: 0;
    color: #3b69ee;
  @media screen and (max-width: 1200px) {   
    font-size: 70px;
  }
    @media screen and (max-width: 992px) {   
    font-size: 60px;
  }
   @media screen and (max-width: 768px) {
      font-size: 50px;
    }
  }
  .heading-3 {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 24px;
    padding-right: 40px;
    line-height: 39px;
    color: #333;
    @media screen and (max-width: 1200px) {
      font-size: 22px;
      line-height: 1.4em;
      text-align: justify;
    }
    @media screen and (max-width: 992px) {
      font-size: 20px;
      line-height: 1.4em;
      text-align: justify;
    }
    @media screen and (max-width: 768px) {
      font-size: 21px;
      line-height: 1.4em;
      text-align: justify;
      padding-left : 20px;
      padding-right: 20px;
    }
    @media screen and (max-width: 480px){
      font-size: 20px;
      padding-right: 0;
      line-height: 1.4em;
      margin-top: 15px;
      text-align: justify;
      margin-left: 0px;
      margin-right: 15px;
    }
  }
  .top-row5{
    @media screen and (max-width: 768px){
      transform: translate(-15px,5px)!important;
    }
    @media screen and (max-width: 480px){
      transform: translate(-15px,0px)!important;
    }
  }
  .button {
    @media screen and (max-width: 992px) {
      font-size: 18px;
      margin-top:30px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 30px;
    }
    @media screen and (max-width: 480px){
      margin-bottom: 30px;
      margin-top: 20px;
    }
  }
  .para {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: 400;
    color: gray;
    line-height: 1.5em;
    @media screen and (max-width:992px){
      margin-top: 10px;
      font-size: 16px;
    }
    @media screen and (max-width: 768px){
      font-size: 17px;
      font-family: "Open Sans";
      font-weight: 400;
      text-align: justify;
      color: gray;
      line-height: 1.5em;
      padding-left: 20px;
      padding-right: 20px;
    }
    @media screen and (max-width: 480px){
      font-size: 16px;
      font-family: "Open Sans";
      font-weight: 400;
      color: gray;
      line-height: 1.5em;
    }
  }
}
