#homepage {
  // background-image: url("/Front-images/home-back.jpg");
  background-size: 100% 100%;
  .head1 {
    font-family: "Open Sans";
    font-size: 75px;
    font-weight: 300;
    color: #5882fb;
    @media screen and (max-width: 768px) {
      font-size: 35px;
    }
    @media screen and (max-width: 480px) {
      font-size: 28px;
      text-align: center;
    }
  }
  .head2 {
    font-family: "Open Sans";
    font-size: 55px;
    font-weight: 800;
    color: #ffffff;
    @media screen and (max-width: 768px) {
      font-size: 35px;
    }
    @media screen and (max-width: 480px) {
      font-size: 24px;
      text-align: center;
    }
  }
  h1 {
    margin: 0;
    line-height: 1.2em;
  }

  img.laptop__img {
    max-width: 98%;
    transform: scale(1.4) translateX(-50px);
    @media screen and (max-width: 768px) {
      transform: scale(1);
    }
  }

  .span-color {
    color: #04dab9;
    font-weight: 800;
    animation-name: main-section-back;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
  }

  @keyframes main-section-back {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 0.9;
    }
    40% {
      opacity: 0.8;
    }
    60% {
      opacity: 0.7;
    }
    80% {
      opacity: 0.6;
    }
    100% {
      opacity: 0.5;
    }
  }

  .foot {
    p {
      margin: 0px;
      color: white;
    }
  }
}

/*media query for 1200 - 992 */

@media screen and (max-width: 1200px) and (min-width: 992px) {
  h1.head1 {
    font-size: 65px !important;
  }

  h1.head2 {
    font-size: 50px !important;
  }

  div.col.column-1 {
    padding-left: 20px;
  }

  div.bottomSpace {
    padding-left: 20px;
  }
}

/*media query for 991 - 768 */

@media screen and (max-width: 991px) and (min-width: 768px) {
  h1.head1 {
    font-size: 55px;
  }

  h1.head2 {
    font-size: 40px;
  }
  img.laptop_img {
    transform: translateX(-35px);
  }
}

/*media query for 767 - 481 */

@media screen and (max-width: 767px) and (min-width: 481px) {
  h1.head1 {
    font-size: 65px;
    text-align: center;
  }

  h1.head2 {
    font-size: 50px;
    text-align: center;
  }
  .row.row-2 {
    text-align: center;
  }
  .centerit {
    text-align: center;
  }
}
