.our-team {
    background-image: url(/Front-images/About-us.jpg) ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: fixed;
    /* min-height: 670px; */
    /* position: relative !important; */
    background-repeat: no-repeat;
  @media screen and (max-width: 768px) {
     background-image:url(/Fronnt-images/contact.jpg);
  }
  @media screen and (max-width: 480px) {
     min-height: 420px;
  }
  .row.flexremove {
    @media screen and (max-width: 992px) {
      padding-left: 25px;
      padding-right: 25px;
    }  
  }
    .logo{
    @media screen and (max-width: 768px) {
      height:52px !important;
      width:300px !important;
    }
    @media screen and (max-width: 480px) {
      height:48px !important;
      width:270px !important;
    }
  }
  .button {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    color: #3b69ee;
    padding: 12.5px 40px;
    background-color: transparent;
    border-radius:40px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    border:2px solid #3b69ee;
    @media screen and (max-width: 992px) {
      margin-top: 40px;
    }  
  }
  .row.flexremove {
    @media screen and (max-width: 1200px) {  
      padding-left: 25px;
      padding-right: 25px;
    }
    @media screen and (max-width: 992px) {  
      padding-left: 25px;
      padding-right: 25px;
    }  
  }
  .heading-1 {
    color: #3f73ee;
    font-size: 70px;
    font-family: "Open Sans";
    font-weight: 800;
    line-height: 0.8em;
    padding-top: 50px;
    @media screen and (max-width: 1200px) {
      font-size: 60px !important;
      padding-top: 40px;
    }
    @media screen and (max-width: 992px) {
      font-size: 55px ;
      padding-top: 40px;
    }
    @media screen and (max-width: 768px) {
      font-size: 50px !important;
      padding-top: 0px;
    }
    @media screen and (max-width: 480px) {
      font-size: 38px !important;
      text-align: center;
    }
    span {
      font-size: 30px;
      @media screen and (max-width: 992px) {
        font-size: 21px;
      }
      @media screen and (max-width: 768px) {
        font-size: 18px;
      }
      @media screen and (max-width: 480px) {
        font-size: 16px;
      }
    }
  }
  .heading-3 {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 22;
    padding-right: 60px;
    padding-bottom: 50px;
    color: #333;
    @media screen and (max-width: 992px) {
      font-size: 22px!important;
      padding-right: 30px !important;
      line-height: 30px;
      padding-bottom: 0px;
      margin-top:25px;
      padding-top: 0px!important;
    }
    @media screen and (max-width: 768px) {
      font-size: 20px!important;
      padding-right: 0px;
      line-height: 1.4em;
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 22px;
      text-align: justify;
      padding-right: 0px !important; 
      line-height: 30px;
      padding-bottom: 0px;
      padding-top: 0px!important;
    }
     @media screen and (max-width: 480px) {
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 18px !important;
      text-align: justify;
      padding-right: 0px !important; 
      line-height: 30px;
      padding-bottom: 0px;
      padding-top: 0px!important;
      margin-top:0;
      
      
    }
  }
}
span.strength{
  font-weight:400;
}
img.team-pic {
    width: 70%;
    max-width: 100%;
    margin-left: 160px;
    margin-top: -60px;
    @media screen and (max-width: 1200px) { 
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-top: -60px;
    }
    @media screen and (max-width: 992px) { 
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-top: -60px;
    }  
    @media screen and (max-width: 768px) {
      width: 100%;
      max-width: 100%;
      margin-left: 0;
      margin-top: 0;
      padding-top: 20px;
    }
}
.meet-team {
  background-image: url("/Front-images/back-2-2-back-2.jpg");
  background-size: 100% 100%;
  background-position: fixed;
  position: relative !important;
  min-height: 670px;
  background-repeat: no-repeat;
  padding-top: 50px;
  .button {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    color: #04dab9;
    padding: 12.5px 40px;
    /* border-radius: 30px; */
    background: transparent;
    border: 1px solid;
    border-image: linear-gradient(to left, red, blue);
    margin-top: -15px !important;
    border-image-slice: 1;

    h1.head-color {
      font-family: "Open Sans";
      font-weight: 800;
      color: #3b69ee;
      font-size: 36px;
       @media screen and (max-width: 768px) {
        font-size: 20px;
        text-align: center;
      }
      @media screen and (max-width: 480px) {
        font-size: 20px;
        text-align: center;
      }

    }

    .team__member {
      padding: 20px;
      text-align: center;
      img {
        display: block;
        max-width: 100%;
        margin: auto;
      }
      h2 {
        font-size: 18px;
        font-weight: 600;
        font-family: "Open Sans";
        margin-bottom: 0;
      }
      h4 {
        font-size: 16px;
        font-weight: 400;
        color: grey;
        margin-top: 0;
        font-family: "Open Sans";
      }
    }
  }
}
.join-team {
  background-color: #3f73ee;
  padding: 50px 0px;
  h1 {
    color: #ffffff;
    text-align: center;
    font-size: 56px;
    margin: 20px;
    font-family: "Open Sans";
    font-weight: 800;
    @media screen and (max-width: 480px) {
      font-size: 30px;
    }
  }
  div {
    text-align: center;
  }
  button {
    color: white !important;
    margin: 0px 10px;
    cursor: pointer;
    @media screen and (max-width: 768px) {
      width: 90%;
      margin: 10px auto;
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .ameet{
    padding-left: 0px!important;
  }
  .dinesh{
    padding-left: 0px!important;
  }
  .padmaja{
    padding-left: 0px!important;
  }
  .kuntal{
    padding-left: 0px!important;
  }
  .team {
    text-align: center;
}
  .aligncenter{
    text-align: center;
  }
  .our-team .button {
    margin-top: 30px !important;
    border-image-slice: 1;
  }

  .col.teamsection{
    flex: none;
  }
  .our-team .heading-1{
    font-size: 15vw;
  }
  .our-team .heading-1 span{
    font-size: 4vw;
  }
  .heading-1{
    fontFamily: "Open Sans";
    fontWeight: 400;
    paddingRight: 60;
    paddingBottom: 50;
    color: "#333";
  }
  .h3_content{
  font-size:3vw;

  }
  .flexremove{
    flex: none;
    display: block;
    margin-left: 0px;
    margin-right: 0px;
  }

}
