/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene {
  transition: width 2s ease 2s;

  /** An element that fades in */
  .scene_element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }
}

/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.right_new_navbar {
  // background: linear-gradient(#393674, rgb(75, 54, 114));
  background: transparent;
  padding-left: 24px;
}

.link-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 77%;
  justify-content: space-evenly;
  padding-left: 22px;
  border-left: 1px solid black;
  margin-left: 25px;
  .li-item {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: rgb(76, 96, 143);
    &:hover {
      background-color: rgba(78, 219, 186, 0.3);
    }
    &.link-active {
      .link-item {
        background-color: rgb(78, 219, 186);
      }
    }
  }
  .link-list-item {
    // display: flex;
    margin-left: -27px;
    .link-item {
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 10px;
      cursor: pointer;
      background-color: rgb(76, 96, 143);
      &:hover {
        background-color: rgba(78, 219, 186, 0.3);
      }
    }
    .sub-item {
      height: 100%;
      &.active-screen {
        background: transparent;
      }
      .submenu {
        padding-left: 15px;
        list-style-type: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
    }
    &.link-active {
      .link-item {
        background-color: rgb(78, 219, 186);
      }
    }
  }
}
