.contact {
  background-image: url("/Front-images/Contact.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: "Open Sans";
  .col.remflex {
    @media screen and (max-width: 1200px) {
      padding-left: 30px;
      padding-right: 5px;
    }  
    @media screen and (max-width: 992px) {
      padding-left: 25px;
      padding-right: 25px;
    }  
  }
    .logo{
    @media screen and (max-width: 768px) {
      height:52px !important;
      width:300px !important;
    }
    @media screen and (max-width: 480px) {
      height:48px !important;
      width:270px !important;
    }
  }
  .heading-1 {
    font-size: 80px;
    font-family: "Open Sans";
    font-weight: 800;
    padding-bottom: 10px;
    margin: 0;
    color: #3b69ee;
    @media screen and (max-width: 992px) {
      font-size: 60px;
    }
    @media screen and (max-width: 768px) {
      font-size: 50px;
    }
    @media screen and (max-width: 480px) {
      font-size: 45px;
      text-align: center;
    }
  }
  .heading-3 {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 21px;
    padding-right: 40px;
    color: #333;
     @media screen and (max-width: 992px) {
      font-size: 18px;
      padding-right: 0px;
    }
     @media screen and (max-width: 768px) {
      font-size: 20px;
      text-align: center;
      padding-right: 0px;
    }
    @media screen and (max-width: 480px) {
      font-size: 21px;
      padding-right: 0;
      line-height: 1.4em;
      text-align: center;
      align-items: center;
    }
}  
  .contact-row{
    @media screen and (max-width: 768px) {
      transform:translate(-25px,5px)!important;
    }
    @media screen and (max-width: 480px) {
      transform:translate(-25px,5px)!important;
    }
  }
  hr#horz_line{
    margin-top: 20px;
    margin-bottom: 0px;
    @media screen and (max-width: 768px) {
      display: none;
    }
    @media screen and (max-width: 480px) {
      display: block;
    }  
  }
  .col-div.addr_class {
    width:auto !important;
  }
  .col-div{
     @media screen and (max-width: 480px) {
      text-align: center;
      width:auto !important;
    }
  }
  div#usa_addr{
    display:inline-block;
  }
  div#india_addr{
    display: inline-block;
    margin-left: 0px;
    padding-top: 0px;
    @media screen and (max-width: 768px) {
    display: inline-block;
    margin-left: 25px;
    /* padding-top: 0px; */
    }
    @media screen and (max-width: 480px) {
    display: inline-block;
    margin-left: 0px;
    /* padding-top: 0px; */
   }
  }
  .contact__form {
    text-align: center;
    margin-top:85px;
    padding-top: 40%;
     -webkit-padding-before: 30px;
    @media screen and (max-width: 992px) {
      padding-top:100px;
    }
    @media screen and (max-width: 768px) {
      padding-top:0;
    }
    @media screen and (max-width: 480px) {
      padding-top:0;
    }
    h3 {
      width: 80%;
      margin: 20px auto;
      color: grey;
      font-weight: 21px;
      font-weight: 400;
      @media screen and (max-width: 992px) {    
        width: 100% !important;
        margin: 20px auto;
        color: grey;
        font-weight: 400;
        font-size: 19px;
      }  
      @media screen and (max-width: 768px) {
        width: 100%;
      }
       @media screen and (max-width: 480px) {
        font-size: 16px;
      }
    }
    .input__group {
      padding: 10px;
      position: relative;
      input {
        width: 100%;
        height: 40px;
        padding: 0px 15px;
      }
      textarea {
        width: 100%;
        height: 80px;
        padding: 5px 15px;
        font-size: 14px;
        font-family: "Open Sans";
      }
    }
    .button {
        margin-bottom: 0px;
        margin-top:20px;
        @media screen and (max-width: 992px) {
        font-size: 16px;
        margin-top: 50px;
        margin-bottom: 40px;  
        transform: translateX(0px)!important;
      }
        @media screen and (max-width: 768px) {
        margin-bottom: 40px;  
        transform: translateX(-15px)!important;
      }
        @media screen and (max-width: 480px) {
        margin-bottom: 40px;  
        transform: translateX(-15px)!important;
      }    
    }
    .para{
      @media screen and (max-width: 480px) {
        text-align: justify;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .row.centerit{
    text-align: center;
  }
  .centerdiv {
    width: auto!important;
    display: block;
}
.remflex{
  display: block!important;
}


}
