* {
  outline: none;
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index:-2;
  @media screen and (max-width: 768px) {
    position: relative;
    height: auto;
    overflow: auto;
  }
}

.container {
  width: 1200px;
  margin: auto;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.row {
  display: flex;
  @media screen and (max-width: 768px) {
    display: block;
    padding: 20px;
  }

}

.col {
  // display: flex;
  flex: 1;
  @media screen and (max-width: 768px) {
    display: block;
  }
  @media screen and (max-width: 768px) {
    display: block;
    text-align: center;
  }
}

.col-2 {
  display: flex;
  flex: 2;
}

.button{
    font-family: 'Exo 2', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #04dab9;
    transform: translateX(85px);
    background-color: transparent;
    border: none;
    //color: red;
    border-radius:40px; 
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-size: cover;
    box-sizing: border-box;
    border:2px solid #3b69ee;
    transform:translateX(0px);
    margin-top: 55px;
    @media screen and (max-width:991px){
      font-size:21px;
    }
    @media screen and (max-width:480px){
      font-size:14px;
    }
}

.button a.teambtn{
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 500;
  color: #04dab9;
}

.button a.teambtn:hover {
    text-decoration:none;
  }

.button:hover {
    background-image: transparent, linear-gradient(to left, blue, red);
  }
  
  /*media query for 991 - 768 */

  

  /*media query for 767 - 481 */

  @media screen and (max-width:768px){
    .button{
      font-size:14px!important;
      margin-top: 25px;
    }
    @media screen and (max-width:768px){
    .button{
      font-size:14px!important;
      margin-top: 25px;
      margin-left: 30px;
    }  
  }
}